/* General container for Cookies */
.cookiesContainer {
    font-family: 'nunito','Franklin Gothic Medium', Arial, sans-serif;
    color: #eee;
    background-color: #17232a;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    cursor: url('../assets/cookie.png'), auto;
}

/* Carousel */
.cookiesCarousel {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    margin: 0 auto;
}

.cookiesSliderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 45%;
}

.cookiesSlider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.cookiesSlide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cookiesSlide.active {
    opacity: 1;
    transform: scale(1);
}

.cookiesImage {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.slideContent {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

.textInfo {
    max-width: 400px;
    text-align: left;
    color: #ddd;
}

.cookiesName {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'nunito','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cookiesIngredients h3,
.cookiesDescription h3 {
    display: inline-block;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.cookiesIngredients p,
.cookiesDescription p {
    color: #ddd;
    letter-spacing: 0.5px;
    line-height: 1.4;
    margin-bottom: 15px;
}

/* Arrows */
.cookiesArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #eee5;
    border: 1px solid #eee8;
    color: #eee;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20; /* Ensure arrows are on top */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, opacity 0.3s ease; /* Transition for opacity */
}

/* Disabled arrows appearance */
.cookiesArrow:disabled {
    background: #555;   /* Dark background when disabled */
    color: #999;        /* Lighter text color */
    opacity: 0.3;       /* Make the button more transparent */
    cursor: not-allowed; /* Indicate that the button is not clickable */
}

/* Hover effect on active arrows */
.cookiesArrow:hover:not(:disabled) {
    background: #fff;
    color: #333;
    cursor: url('../assets/cookie.png'), auto;
}

.cookiesArrow.left {
    left: 20px;
}

.cookiesArrow.right {
    right: 20px;
}

/* Mobile Styles */
@media (max-width: 768px) {

    .cookiesContainer {
        box-sizing: border-box; 
        min-height: calc(100vh - 60px); /* 60px is the mobile header height */
        padding-bottom: 130px; /* Reserve space for the mobileHeader */
    }

    .tituloCabezera h1{
        font-size: 4em;
        margin: 0;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .cookiesSliderWrapper {
        flex-direction: column;
    }

    .cookiesImage {
        width: 250px;
        height: 250px;
    }

    .cookiesName {
        font-size: 2em;
    }

    .slideContent {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .textInfo {
        max-width: 100%;
        padding: 0 20px;
        text-align: center;
    }
}

/* Desktop Styles */
@media (min-width: 769px) {

    .tituloCabezera h1 {
        font-size: 8em;
        margin: 0;
    }

    .cookiesTextContainer {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }

    .slideContent {
        flex-direction: row;
        align-items: center;
    }

    .textInfo {
        max-width: 400px;
        text-align: start;
    }

    .cookiesName {
        font-size: 2.5em;
    }

    .cookiesIngredients h3,
    .cookiesDescription h3 {
        color: #fff;
        margin-bottom: 5px;
    }
}

@font-face {
    font-family: 'nunito'; /* Same name as the regular style */
    src: url('../assets/fonts/Nunito/Nunito-Black.woff2') format('woff2'),
         url('../assets/fonts/Nunito/Nunito-Black.woff') format('woff');
    font-weight: bold; /* Bold weight */
    font-style: normal; /* Normal style */
}
