.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);  /* Added overlay for example */
  }
  
  .content {
    text-align: center;
    color: rgb(247, 244, 244);
    text-shadow: 
        0 0 5px #363434,
        0 0 10px #f8f8ff,
        0 0 20px #e0e0e0,
        0 0 40px #d9d9d9;
    font-size: 20px;
  }
  
  .heroButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .heroButton img {
    width: 60px;
    height: 60px;  /* Different size for HeroB */
    transition: transform 0.3s ease-in-out;
  }
  
  .heroButton:hover img {
    transform: scale(1.3);  /* Larger hover effect */
  }
  